name: aurora-mysql-deploy

on:
  # workflow_dispatch:   # 手動実行
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: infra/aurora

      - name: Terraform Apply
        run: |
          terraform apply -auto-approve \
            -var='vpc_security_group_ids=["sg-04c3ba107fccafd1f"]' \
            -var='subnet_ids=["subnet-02f758aff62038e69","subnet-066c16410d5224689"]'
        working-directory: infra/aurora
